<div class="card" style="width: 500px;border:.5px solid gainsboro;" class="mt-3" *ngIf="product.title">
    <ngb-carousel *ngIf="product.imagesUrls?.length">
      <ng-template ngbSlide *ngFor="let imageUrl of product.imagesUrls">
        <div class="picsum-img-wrapper">
          <img [src]="imageUrl" alt="Random first slide" class="image-card">
        </div>
      </ng-template>
    </ngb-carousel>
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{ product.price | currency:'USD':true}}</p>
  </div>
  <div class="card-footer" *ngIf="showActions && cart">
    <button *ngIf="cart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-secondary btn-block">Add to card</button>

    <ng-template #updateQuantity>
    <app-product-quantity [cart]="cart" [product]="product"></app-product-quantity>
    </ng-template>
  </div>
</div>



