<form [formGroup]="resetPasswordForm" class="form-reset-password  text-center my-container" (ngSubmit)="onSubmit()" novalidate>
    <img class="mb-4" src="../../../assets/onlyIcon.svg" alt=""height="70">
  
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
  
    <div class="form-label-group  input-group-lg">
      <label for="inputcurrentPassword" class="sr-only">Type your current password</label>
      <input formControlName="currentPassword" type="password" id="inputcurrentPassword" class="form-control" placeholder="Type your current password"
        autocomplete="current-password" required>
  
      <div *ngIf="resetPasswordForm.controls['currentPassword'].touched">
        <div class="alert alert-danger p-0 mb-0" role="alert"
          *ngIf="resetPasswordForm.controls['currentPassword'].hasError('required')">
          Current Password <strong>Required</strong>
        </div>
        <div class=" alert alert-danger p-0 mb-0" role="alert"
          *ngIf="resetPasswordForm.controls['currentPassword'].hasError('minlength') && !resetPasswordForm.controls['currentPassword'].hasError('required')">
          More than <strong>6 Characters</strong>
        </div>
      </div>
    </div>

    <div class="form-label-group  input-group-lg">
        <label for="inputNewPassword" class="sr-only">Type your new password</label>
        <input formControlName="newPassword" type="password" id="inputNewPassword" class="form-control" placeholder="Type your new password"
          (change)="resetPasswordForm.controls['retypePassword'].updateValueAndValidity()" autocomplete="current-newPassword" required>
    
        <div *ngIf="resetPasswordForm.controls['newPassword'].touched">
          <div class="alert alert-danger p-0 mb-0" role="alert"
            *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">
            New Password <strong>Required</strong>
          </div>
          <div class=" alert alert-danger p-0 mb-0" role="alert"
            *ngIf="resetPasswordForm.controls['newPassword'].hasError('minlength') && !resetPasswordForm.controls['newPassword'].hasError('required')">
            More than <strong>6 Characters</strong>
          </div>
        </div>
      </div>

      <div class="form-label-group  input-group-lg">
        <label for="retypePassword" class="sr-only">Retype your new password</label>
        <input formControlName="retypePassword" type="password" id="retypePassword" class="form-control" placeholder="Retype your new password" 
        appConfirmValidator="newPassword">
    
        <div *ngIf="resetPasswordForm.controls['retypePassword'].touched">
          <div class="alert alert-danger p-0 mb-0" role="alert"
            *ngIf="resetPasswordForm.controls['retypePassword'].hasError('required')">
            Retype Password <strong>Required</strong>
          </div>
          <div class=" alert alert-danger p-0 mb-0" role="alert"
          *ngIf="resetPasswordForm.hasError('notEqual', 'retypePassword') && !resetPasswordForm.controls['retypePassword'].hasError('required')">
          Passwords do not match
        </div>
        </div>
      </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Save</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2031</p>
      <!-- Form Error -->
      <div class="alert alert-danger p-0 mb-0" role="alert" *ngIf="resetPasswordForm.hasError('userPass')">
      Something when wrong try again
      </div>
      <div class="alert alert-danger p-0 mb-0" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
        </div>
  </form>
  