.form-group {
    height: 80px;
    height: auto;
  }
 
  .alert {
    padding-left: 22px !important;
  }
 
  .imageUpload{
    height: 100px;
    width: 100px;
  }
 
  .imageElement {
    position: relative;
  }
  
  button.upload-close  {
   position: absolute;
   right: 5px;
 }