<form [formGroup]="forgotPasswordForm" class="form-forgot-password text-center my-container" (ngSubmit)="onSubmit()" novalidate>
    <img class="mb-4" src="../../../assets/onlyIcon.svg" alt=""height="70">

    <h5 class="mb-3 font-weight-normal text-center">Forgot your password? We can help.</h5>
    <p class="text-left"> We'll send a reset Link for you to reset your password.</p>

    <div class="form-label-group input-group-lg">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
        autocomplete="username" autofocus>

      <div class="alert alert-danger p-0 mb-0" role="alert"
        *ngIf="forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].hasError('required')">
        Email <strong>Required</strong>
      </div>
      <div class="alert alert-danger p-0 mb-0" role="alert" *ngIf="forgotPasswordForm.controls['email'].hasError('email')
            && !forgotPasswordForm.controls['email'].hasError('required')
            && forgotPasswordForm.controls['email'].touched">
        Not a valid <strong>Email</strong>
      </div>
    </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Submit</button>
    <p class="mt-2 mb-3 text-center" >Remember your Password? <a [routerLink]="['/login']">Sign in</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2031</p>
      <!-- Form Error -->
      <div class="alert alert-danger p-0 mb-0" role="alert" *ngIf="forgotPasswordForm.hasError('userPass')">
        <strong>Something went wrong, make sure your email is correct</strong>
      </div>
      <div class="alert alert-success p-0 mb-0" role="alert" *ngIf="message">
        <strong>{{message}}</strong>
      </div>
  </form>
