<form [formGroup]="resetPasswordForm" class="form-reset-password  text-center my-container" (ngSubmit)="onSubmit()" novalidate>
    <img class="mb-4" src="../../../assets/onlyIcon.svg" alt=""height="70">
  
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
  
    <div class="form-label-group input-group-lg">
        <label for="inputEmail" class="sr-only">Enter your Email address</label>
        <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
          autocomplete="username" autofocus>
    
        <div class="alert alert-danger p-0 mb-0" role="alert"
          *ngIf="resetPasswordForm.controls['email'].touched && resetPasswordForm.controls['email'].hasError('required')">
          Email <strong>Required</strong>
        </div>
        <div class="alert alert-danger p-0 mb-0" role="alert" *ngIf="resetPasswordForm.controls['email'].hasError('email')
              && !resetPasswordForm.controls['email'].hasError('required')
              && resetPasswordForm.controls['email'].touched">
          Not a valid <strong>Email</strong>
        </div>
      </div>

    <div class="form-label-group  input-group-lg">
        <label for="inputNewPassword" class="sr-only">Type your new password</label>
        <input formControlName="newPassword" type="password" id="inputNewPassword" class="form-control" placeholder="Type your new password"
         (change)="resetPasswordForm.controls['retypePassword'].updateValueAndValidity()" autocomplete="current-newPassword" required>
    
        <div *ngIf="resetPasswordForm.controls['newPassword'].touched">
          <div class="alert alert-danger p-0 mb-0" role="alert"
            *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">
            New Password <strong>Required</strong>
          </div>
          <div class=" alert alert-danger p-0 mb-0" role="alert"
            *ngIf="resetPasswordForm.controls['newPassword'].hasError('minlength') && !resetPasswordForm.controls['newPassword'].hasError('required')">
            More than <strong>6 Characters</strong>
          </div>
        </div>
      </div>

      <div class="form-label-group  input-group-lg">
        <label for="retypePassword" class="sr-only">Retype your new password</label>
        <input formControlName="retypePassword" type="password" id="retypePassword" class="form-control" placeholder="Retype your new password" 
        appConfirmValidator="newPassword">
    
        <div *ngIf="resetPasswordForm.controls['retypePassword'].touched">
          <div class="alert alert-danger p-0 mb-0" role="alert"
            *ngIf="resetPasswordForm.controls['retypePassword'].hasError('required')">
            Retype Password <strong>Required</strong>
          </div>
          <div class=" alert alert-danger p-0 mb-0" role="alert"
          *ngIf="resetPasswordForm.hasError('notEqual', 'retypePassword') && !resetPasswordForm.controls['retypePassword'].hasError('required')">
          Passwords do not match
        </div>
        </div>
      </div>
  
    <button class="btn btn-lg btn-dark btn-block" type="submit">Save</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2031</p>
      <!-- Form Error -->
      <div class="alert alert-danger p-0 mb-0" role="alert" *ngIf="messageError">
        <strong>{{messageError}}</strong>
      </div>
      <div class="alert alert-success p-0 mb-0" role="alert" *ngIf="messageSuccess">
        <strong>{{messageSuccess}}</strong>
      </div>
  </form>
  