<fieldset class="constainer border p-2">
  <legend class="w-auto">Select At Least One Picture</legend>
  <div class="row">
    <div class="col-9 pr-0">
        <div #rowImages class="row images-container custom-scrollbar-css">
          <div *ngFor="let file of fileList; let i = index" class="form-group" style="margin-bottom: 0px; width:fit-content;">
            <div class="image-element">
              <img [src]="this.fileList[i].imageUrl ? this.fileList[i].imageUrl : ''"
                class="imageUpload border border-secondary rounded">
              <button *ngIf="this.fileList[i]" type="button" class="close upload-close" aria-label="Close"
                (click)="onDeleteImage(i)">
                <span aria-hidden="true" class="delete-icon">&times;</span>
              </button>
            </div>
          </div>
        </div>

        <a *ngIf="scrollShowing" type="button" (click)="onPrevious()" class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a *ngIf="scrollShowing" (click)="onNext()" class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-3 p-0 text-center">
          <div class="form-group">
            <div class="image-element">
              <input #addImage style="display: none;" type="file" (change)="onFileSelected($event)" id="image-0"
              accept=".jpg,.jpeg,.png,.gif" required appUploadFileExtentionValidator/>
              <i class="fa fa-plus add-icon" (click)="addImage.click();"></i>
            </div>
          </div>
    </div>
  </div>

</fieldset>

