 .imageUpload{
   height: 100px;
   width: 100px;
 }

 .images-container {
   overflow-x: scroll;
 }

 .image-element {
   position: relative;
   margin: 0 3px 0 3px;
 }
 
 button.upload-close  {
  position: absolute;
  right: 5px;
}
